fieldset {
    border: 1px solid black;
    box-sizing: border-box;
    max-width: 135px;
    padding: 10px;
    border-radius: 10px;
  }
  
  legend {
    font-weight: bold;
    font-size: 1.2em;
    white-space: nowrap;
  }
  
  input:hover, label:hover {
    cursor: pointer;
  }