h1 {
    font-family: Roboto;
    font-stretch: ultra-expanded;
    font-weight: 400;
    font-size: 3.5em;
    color: rgb(190, 100, 30);
  }
  
  .texto {
    color: #444;
    font-family: verdana, sans-serif;
    font-style: italic;
    font-weight: 100;
    font-stretch: ultra-expanded;
  }