#page * {
    border: 10px solid red;
    background-color: blue;
    margin: 30px;
    padding: 30px;
}

#page {
    background-color: yellow;
}

#interno {
    background-color: pink;
}

#interno * {
    border: 1px solid red;
}