* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: dodgerblue;
    justify-content: space-between;
    align-items: stretch;
    height: 300px;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 10%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}