.container {
    display: flex;
    background-color: gold;
    /* justify-content: center; */
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
    align-content: space-between;
}

.container > div{
    background-color: blueviolet;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 100px;
    height: 100px;
}