div {
    width: 400px;
    height: 300px;
    background-color: #219ebc;  
    background-image: url("https://st.depositphotos.com/1010338/2099/i/600/depositphotos_20999947-stock-photo-tropical-island-with-palms.jpg");
    background-position: left top;
    opacity: 0.3;
  }
  
  p {
    background-color: hsl(128, 100%, 50%);
    padding: 10px;
    opacity: 0.5;
  }