form > div, fieldset {
  margin: 10px;
  padding: 5px 0;
}

fieldset > div {
  padding: 5px 0;
}

form {
  width: 750px;
  background-image: linear-gradient(60deg, rgb(231, 231, 226) 0%, rgb(160, 160, 158) 100%);
}

fieldset {
  padding-left: 0;
  /* background-color: #eee; */
  border: 1px solid #AAA;
  border-radius: 10px;
}

legend {
  font-weight: bold;
  font-variant: small-caps;
  color: #0000CC;
}

textarea {
  border-radius: 5px;
  vertical-align: text-top;
  width: 500px;
  height: 150px;
  padding: 3px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
  font-weight: bold;
}

div.cadastro {
  padding-left: 150px;
}

.cadastro label {
  width: 300px;
  text-align: left;
  font-weight: 200;
}

.obrigatorio {
  color: red;
}

input[type=text], input[type=mail], select {
  width: 500px;
}

input[type=submit] {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  text-align: center;
  vertical-align: middle;
  height: 35px;
}

input[type=reset] {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #e41616;
  color: white;
  text-align: center;
  vertical-align: middle;
  height: 35px;
}

#buttons {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 750px;
  margin: 10px;
  padding: 0 200px;
  justify-content: space-between;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: green;
  border: 1px solid transparent;
}

input[type=reset]:hover {
  cursor: pointer;
  background-color: rgb(148, 6, 13);
  border: 1px solid transparent;
}

label:hover {
  cursor: pointer;
}

h1 {
  text-shadow: 0px 0px 5px gray;
}
